<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="30">
  <Properties>
    <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
    <Property name="APP_LOG_ROOT">C:/opt/logs</Property>
  </Properties>
  
  <Appenders>
    <Console name="console" target="SYSTEM_OUT" follow="true">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>
    
    <RollingFile name="applicationLog" fileName="${sys:APP_LOG_ROOT}/application.log"
                 filePattern="${sys:APP_LOG_ROOT}/application-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="19500KB" />
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    
    <RollingFile name="springLog" fileName="${sys:APP_LOG_ROOT}/spring.log"
                 filePattern="${sys:APP_LOG_ROOT}/spring-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="19500KB" />
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    
    <RollingFile name="service" fileName="${sys:APP_LOG_ROOT}/service.log"
                 filePattern="${sys:APP_LOG_ROOT}/service-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="19500KB" />
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
    
    <RollingFile name="hibernateLog" fileName="${sys:APP_LOG_ROOT}/database.log"
                 filePattern="${sys:APP_LOG_ROOT}/database-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="19500KB" />
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </Appenders>
  
  <Loggers>
    <Logger name="demo" additivity="false" level="debug">
      <AppenderRef ref="applicationLog" />
      <AppenderRef ref="console"  />
    </Logger>
  
    <Logger name="auditLog" additivity="false" level="info">
      <AppenderRef ref="auditLog" />
      <AppenderRef ref="console" />
    </Logger>
    
    <Logger name="demo.service" additivity="false" level="info">
      <AppenderRef ref="service" />
      <AppenderRef ref="console" />
    </Logger>
    
    <Logger name="org.springframework" additivity="false" level="info">
      <AppenderRef ref="springLog" />
      <AppenderRef ref="console"/>
    </Logger>
    
    <Logger name="org.hibernate" additivity="false" level="info">
      <AppenderRef ref="hibernateLog" />
      <AppenderRef ref="console"/>
    </Logger>
    
    <Root level="INFO">
      <AppenderRef ref="console"/>
    </Root>
  
  </Loggers>

</Configuration>